/* BASIC STYLES HERE */

.card {}

.imgBody {
  border: 50px solid transparent;
  padding: 15px;
  border-image: url("https://doogeveneers.com/sites/default/files/styles/flexslider_full/public/birch-white-2.jpg?itok=OBl5zrNh") 30 stretch;
}

.imgBody img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.commentText {
  font-family: 'Poiret One', sans-serif;
  font-weight: bolder;
}

.activeImg {
  height: 50dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


body {
  background-image: url("https://media.istockphoto.com/id/1463995841/vector/hibiscus-flower-seamless-pattern-vector-illustration-batik-floral-design-background.jpg?s=612x612&w=0&k=20&c=mfB1oUQ4nckocnPCFKBFuRLhNqYDAMeF8XJkyCurCZ8=");
  background-position: center;
}


header {
  background-color: #e8e8e8;
}


/* .borderWood {
  background-image: url("https://dominotiers.com/modules/custommade/uploads/image/261fcc29e0198469c81a3747b29e8c6f.jpg");
  background-position: center;
  background-size: cover;
} */